*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #351634;
}
.container{
position: relative;
width: 100%;
height: 100vh;
overflow: hidden;
}
.bubbles{
position: relative;
display: flex;
z-index: -1;
}
.bubbles span{
position: relative;
width: 30px;
height: 30px;
background-color: seagreen;
margin: 0 5px;

border-top-right-radius: 69% 67%;
border-top-left-radius: 73% 87%;
border-bottom-left-radius: 74% 77%;
border-bottom-right-radius: 50% 79%;

box-shadow: 0 0 10px rgba(28, 214, 174, 0.747), 0 0 50px rgba(40, 138, 117, 0.815), 0 0 100px rgba(61, 197, 27, 0.945);
animation: animate 15s linear infinite;
animation-duration: calc(300s/var(--i));
}
.bubbles span:nth-child(even){

background-color: rgb(201, 105, 26);

border-radius: 75% 90%;

box-shadow: 0 0 10px rgba(214, 28, 28, 0.747), 0 0 50px rgba(138, 40, 40, 0.753), 0 0 100px rgba(197, 27, 27, 0.945);
    animation-delay: 0s;
}

.main_text{
    color: salmon !important;
    position: relative;
    display: block;
    text-align:justify !important;
    text-justify: auto;
}

@keyframes animate{
    0%{
        transform:translateY(100vh) scale(0);
    }
    100%{
        transform:translateY(-10vh) scale(1) rotate(8100deg);
    }
}